<div class="hero">
	<div class="frosty col-xs-10 col-xs-offset-1 text-center">
		<br />
		<h1>Learn something new today.</h1>
		<h2>Start your journey—explore available course offerings</h2>
		<br />
		<%= link_to 'Learn More', courses_path, :class => 'btn btn-success' %>
	</div>
</div>

<div class="col-xs-10 col-xs-offset-1 text-center">
  <div class="col-sm-4 features">
    <h3>Step-by-step video instruction. Enroll in the course of your choosing, then navigate through each section which contains as many video lessons as are necessary to master the material.</h3>
  </div>
  <div class="col-sm-4 features">
    <h3>Content explained by those who are experts in their field. All course material is reviewed and verified to authenticate the instructor before providing it to the masses.</h3>
  </div>

  <div class="col-sm-4 features">
    <h3>Unlimited access to the material once you enroll. Watch and review lessons as many times as you need. After an extended period of time, check back to see if any lessons have been updated.</h3>
  </div>
</div>
