$footer-height: 100px; //SCSS simplification, implemented
$footer-height-mobile: 200px;

html,
body {
	height: 100%;
}

/* Wrapper to to push footer down */
#wrap {
	background: url('paper_2.png');
	min-height: 100%;
	height: auto;
	/* Negative indent footer by its height */
	margin: 0 auto -$footer-height;
	/* Pad bottom by footer height */
	padding: 0 0 $footer-height;
}

/* Setting fixed height of footer */
#footer {
	padding: 10px 0px;
	height: $footer-height;
	color: white;
	background-color: rgba(36, 32, 33, 0.9);
	font-family: "Helvetica Neue", Helvetica;
	font-weight: 100;
	letter-spacing: 1.5px;
	// margin-top: 30px; NOT USING - APPLIED BKGD TO 'WRAP' CLASS
}

#footer a {
	color: white;
}

.social-btn {
	margin: 3px;
}

.social a:hover {
	text-decoration: none;
}

@media (max-width: 750px) {
	#footer {
		height: $footer-height-mobile;
	}
	#wrap {
		margin: 0 auto -$footer-height-mobile;
		padding: 0 0 $footer-height-mobile;
	}
	#footer .social {
		margin-top: 10px;
	}
}
