* {
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, .navbar {
  margin:0;
}

body {
		/* Trebuchet-based sans serif stack */
		font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
		//padding-bottom: 80px; WAS FOR MY OWN STICKY FOOTER
}

/* NAVIGATION */
.navbar {
  border-radius: 0;
	background-color: #b80000;
}

#my-brand {
	position: absolute;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 1px 1px 6px #2a2a2a;
	padding: 15px 30px 5px 30px ;
	font-family: 'jrhandregular';
	font-size: 4.75em;
	line-height: .8em;
}

#my-brand a {
	color: #000;
	text-decoration: none;
}
#my-brand a:hover {
	color: #8b8b8b;
	text-decoration: none;
}

.navbar-default .navbar-nav > li > a {
	color: #333;
}
.navbar-default .navbar-nav > li > a:hover {
	color: #fff;
}

.hero {
	background: url('82743738-2.jpg') no-repeat center bottom; //had to remove fixed attr
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 390px;
}

.frosty {
	margin-top: 60px;
	padding-bottom: 10px;
  background:rgba(0,0,0, 0.5);
  color:white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
	text-shadow: rgba(0,0,0,0.95) 1px 1px;
}

.btn {
  border-radius:0;
}

.features {
	margin-top: 20px;
}

.clr {
	clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding: 8px;
	margin: 10px;
}
